body {
    padding: 0;
    margin: 0;
}


#container {
    display: flex;
    flex-direction: column;
    background-color: pink;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 10;
}

button {
    margin: 10px;
}

input {
    text-align: center;
}

.header {
    font-weight: 800;
}