body {
    padding: 0;
    margin: 0;
}


#container {
    display: flex;
    flex-direction: column;
    background-color: pink;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    margin: 10px;
    font-size: 30px;
}

input {
    text-align: center;
    font-size: 40px;
    width: 200px;
}

.header {
    font-weight: 800;
    font-size: 40px;
}

#wins, #losses {
    font-size: 30px;
}
